{% extends "base.html" %}

{% block content %}
  <h1>Lista de Alunos</h1>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Email</th>
        <th>Cidade</th>
        <th>Curso</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for aluno in alunos %}
        <tr>
          <td>{{ aluno.nome }}</td>
          <td>{{ aluno.idade }}</td>
          <td>{{ aluno.email }}</td>
          <td>{{ aluno.cidade.nome }}</td>
          <td>{{ aluno.curso.nome }}</td>
          <td>
            <a href="{% url 'editar_aluno' aluno.id %}">Editar</a>
            <a href="{% url 'excluir_aluno' aluno.id %}">Excluir</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'cadastrar_aluno' %}">Cadastrar Aluno</a>
{% endblock %}
